#container{
    height: 200px;
    width: 300px;
    border: 3px solid red;
    background-color: green;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
     */
    padding: 10px 10px 10px 10px;

    /* margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px; */

    margin: 30px 0px 30px 30px ;


}
#content{
    background-color: orange;

}
